/*PAGE INSCRIPTION*/
.register{
	/*border: 1px solid #ccc;
	border-radius: 5px;*/
	position: relative;
	width: 70%;
	height: auto;
	left: 15%;
}

.createProfil{
	border: 1px solid #ccc;
	border-radius: 5px;
}

.createProfil h3{
	font-style: italic;
	text-align: center;
}

.createProfil label{
	font-style: italic;
}

.register .left{

}

.register .right{
	

}

.button{
	position: relative;
	top: 3vh;
}

/*PAGE AUTHORS COLLECTION*/
.authorsCollection .caption{
	padding-top: 15px;
}
.authorsCollection .caption p{
	font-size: 12px;
}
